.body {
	font-family: "Trebuchet MS", Arial, Verdana;
 	color: black;
 	background-color: white;
 	font-size: 14px;
 	text-align: justify;
 	float: left;
 	width: 100%;
}
 body {
	margin: 0;
 	padding: 0;
 	background-color: #D8D8D8;
}
 h1 {
	font-size: 16px;
 	margin: 0;
 	padding: 0;
}
 .image {
	text-align: center;
}
 .left {
	padding: 5%;
 	border: 0;
 	margin: 0;
 	float: left;
 	width: 40%;
}
 .right {
	padding: 5%;
 	border: 0;
 	margin: 0;
 	float: right;
 	width: 40%;
}
 .header {
	margin: 0;
 	padding: 0;
 	background-color: #2E2E2E;
 	color: white;
 	font-size: 14px;
 	color: white;
 	padding-top: 2em;
 	padding-bottom: 0.5em;
 	border-bottom: solid 1px grey;
}
 .nav {
	text-align: center;
 	color: white;
 	font-size: 14px;
}
 .nav ul {
	margin: 0;
 	padding: 0;
 	display: block;
}
 .nav li {
	display: inline;
}
 .nav a {
	color: white;
 	font-size: 14px;
 	text-decoration: none;
}
 .nav a:hover {
	background-color: grey;
}
 .footer {
	margin: 0;
 	padding: 0;
 	color: grey;
 	font-size: 10px;
 	text-align: center;
 	clear: both;
 	padding-bottom: 15em;
 	border-top: solid 1px grey;
 	background-color: #D8D8D8;
}
 .publication {
	padding: 2px;
 	margin: 2px;
 	margin-top: 10px;
}
 .publication .title {
	font-weight: bold;
}
 .refereed .title {
	background-color: #F5D0A9;
}
 .tech .title {
	background-color: #F5D0A9;
}
 .publication .authors {
	font-style: italic;
}
 .project {
	margin: 2px;
 	margin-bottom: 10px;
}
 .project .name {
	font-weight: bold;
 	text-align: right;
}
 .current .name {
	background-color: #F5D0A9;
}
 .past .name {
	background-color: #F5D0A9;
}
 .project .description {
	padding: 2px;
}
 .project .links {
	text-align: center;
}
