body {
    font-family: 'Roboto';
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
}

.bg-dark {
    background-color: #0B619A!important;
}

a {
    color: #0B619A;
    text-decoration: none;
    line-height: inherit;
}

.text-primary {
    color: #0B619A!important;
}

a:hover {
    color: grey;
    text-decoration: none;
    border-bottom: 0px;
}

.logo {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 260px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    /* Set the fixed height of the footer here */
    height: 200px;
    line-height: 40px; /* Vertically center the text there */
}

/* Publications */

.author {
    display: inline;
    font-style: italic;
}

.where {
    display: inline;
}

.files {
    margin-left: 10px;
    margin-top: 2px;
    text-align: left;
}
