.body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 	color: #222;
 	background-color: white;
 	font-size: 14px;
 	text-align: justify;
 	float: left;
 	width: 100%;
}
 body {
	margin: 0;
 	padding: 0;
 	background-color: #D8D8D8;
}
 h1 {
	font-size: 16px;
 	margin: 0;
 	padding: 0;
}
 .image {
	text-align: center;
}
 .left {
	padding: 5%;
 	border: 0;
 	margin: 0;
 	padding-left: 8%;
 	padding-right: 2%;
 	float: left;
 	width: 40%;
}
 .right {
	padding: 5%;
 	border: 0;
 	margin: 0;
 	padding-right: 8%;
 	padding-left: 2%;
 	float: right;
 	width: 40%;
}
 .header {
	margin: 0;
 	padding: 0;
 	background-color: #2E2E2E;
 	color: white;
 	font-size: 14px;
 	color: white;
 	padding-top: 2em;
 	padding-bottom: 0.5em;
 	border-bottom: solid 1px grey;
}
 .nav {
	text-align: center;
 	color: white;
 	font-size: 14px;
}
 .nav ul {
	margin: 0;
 	padding: 0;
 	display: block;
}
 .nav li {
	display: inline;
}
 .nav a {
	color: white;
 	font-size: 14px;
 	text-decoration: none;
}
 .nav a:hover {
	background-color: grey;
}
 .footer {
	margin: 0;
 	padding: 0;
 	color: grey;
 	font-size: 10px;
 	text-align: center;
 	clear: both;
 	padding-bottom: 15em;
 	border-top: solid 1px grey;
 	background-color: #D8D8D8;
}
 .author {
	display: inline;
 	font-style: italic;
}
 .publication {
	margin: 0;
 	padding: 0;
 	margin-bottom: 20px;
 	border: dashed black 1px;
}
 .publication .title {
	font-weight: bold;
 	background-color: #F3F781;
}
 .publication .where {
	display: inline;
}
 .publication .year {
	margin-right: 4px;
 	display: inline;
 	float: right;
 	color: #DF0101;
}
 .publication .files {
	margin-right: 4px;
 	text-align: center;
}
 .project {
	margin: 0;
 	padding: 0;
 	margin-bottom: 20px;
 	border: dashed black 1px;
}
 .project .name {
	padding-right: 10px;
 	font-weight: bold;
 	text-align: right;
 	background-color: #FAAC58;
}
 .project .description {
	padding: 2px;
}
 .project .links {
	text-align: center;
}
