entry: .
kind: .
---
<div class="small card {{if (entry.abstract)}}border-info{{else}}border-light{{fi}} mb-0">
  <div class="card-body pt-1 pb-1">
    <h5 class="card-title mb-1">
      <small class="text-muted mr-3">{{entry.year}}</small>
      {{ entry.title }}
      {{ if (entry.files) }}
      {{ for file in entry.files do }}
      <a class="small text-mutex ml-2" href="{{file.url}}">
        {{if   (file.kind = 'pdf')   }}<i class="fa fa-file-pdf-o"></i>
        {{elif (file.kind = 'slides')}}<i class="fa fa-file-image-o"></i>
        {{elif (file.kind = 'video') }}<i class="fa fa-file-video-o"></i>
        {{elif (file.kind = 'book')  }}<i class="fa fa-book"></i>
        {{else                       }}<i class="fa fa-download"></i>
        {{fi}}
      </a>
      {{ done }}
      {{ fi }}
    </h5>
    <div class="card-text authors">
      {{ for a in entry.authors do }}
      {{ if (a.next && !a.next.next) }}
      <div class="author">
        <a href="{{authors.[a].url}}">{{authors.[a].name}}</a> and
      </div>
      {{ elif (a.next) }}
      <div class="author">
        <a href="{{authors.[a].url}}">{{authors.[a].name}}</a>,
      </div>
      {{ else }}
      <div class="author">
        <a href="{{authors.[a].url}}">
          {{authors.[a].name}}.
        </a>
      </div>
      {{ fi }}
      {{ done }}
    </div>
    <div class="where">{{entry.where}}</div>
    {{ if (entry.abstract) }}
    <div class="mt-3 mb-2">
      <span class="font-weight-bold">Abstract.</span> {{entry.abstract}}
    </div>
    {{ fi }}
  </div>
</div>
