entry: .
kind: .
---
<div class="card {{if (entry.about)}}border-info{{else}}border-light{{fi}} mb-5">
  {{if (entry.logo)}}
  <img class="card-img-top mt-3 mb-2 mx-auto d-block logo" src="{{entry.logo}}" alt="logo">
  {{fi}}
  <div class="card-body pt-1 pb-1">
    <h5 class="card-title mb-1">
      <small class="text-muted mr-3">{{entry.start-year}}
      &mdash; {{if (entry.end-year) entry.end-year else }}now{{fi}}
      </small>
      {{ entry.name }}
      {{ if (entry.links) }}
      {{ for file in entry.links do }}
      <a class="small text-mutex ml-2" href="{{file.url}}">
        {{if   (file.kind = 'pdf')   }}<i class="fa fa-file-pdf-o"></i>
        {{elif (file.kind = 'github')}}<i class="fa fa-github"></i>
        {{else                       }}<i class="fa fa-download"></i>
        {{fi}}
      </a>
      {{ done }}
      {{ fi }}
    </h5>
    <div class="card-text authors">
      <small>Created and maintained by
      {{ for a in entry.authors do }}
      {{ if (a.next && !a.next.next) }}
      <div class="author">
        <a href="{{authors.[a].url}}">{{authors.[a].name}}</a> and
      </div>
      {{ elif (a.next) }}
      <div class="author">
        <a href="{{authors.[a].url}}">{{authors.[a].name}}</a>,
      </div>
      {{ else }}
      <div class="author">
        <a href="{{authors.[a].url}}">
          {{authors.[a].name}}.
        </a>
      </div>
      {{ fi }}
      {{ done }}
      </small>
    </div>
    {{ if (entry.about) }}
    <div class="mt-3 mb-2">
      <span class="font-weight-bold">Context.</span> {{entry.about}}
    </div>
    {{ fi }}
  </div>
</div>
